.DS_Store
__pycache__/

xsummary.xml
xtripinfo.xml
xfcd.xml
xdet.add.xml
xdetectors.csv
xroute.rou.xml

training_records/
plots/
free_flow_times.csv

agents_data.csv
paths.csv

venv/
playground.ipynb