.DS_Store
__pycache__/

summary.xml
tripinfo.xml
fcd.xml
det.add.xml
detectors.csv
route.rou.xml

training_records/
plots/
free_flow_times.csv

agents_data.csv
paths.csv

venv/
playground.ipynb