.DS_Store
__pycache__/

summary.xml
tripinfo.xml
fcd.xml
det.add.xml
detectors.csv
route.rou.xml

training_records/
plots/

agents_data.csv
paths.csv

venv/
playground.ipynb

manhattan.rou.xml
manhattan.edg.xml
manhattan.net.xml
manhattan.con.xml
manhattan.nod.xml
manhattan.tll.xml
manhattan.typ.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST